body {
  margin: 0;
  padding: 0;
  min-width: 1280px;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 -10px 20px 10px #b8b8b8;
}

.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.wrapper-navigation {
  width: 1054px;
  margin: 0 73px;
}

.navigation-list,
.reasons-list,
.reasons-list,
.footer-social,
.recommendation-list,
.filter-list,
.sort-list,
.result-list {
  list-style: none;
}

.navigation-link,
.navigation-link:visited {
  color: rgb(0, 0, 0);
}

.navigation-link:hover {
  color: rgb(129, 179, 210);
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.navigation-list .navigation-link-active {
  color: rgb(118, 99, 87);
}

.navigation-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 56px;
  height: 56px; /*для центрирования в IE по вертикали*/
  list-style: none;
}

.navigation-list li {
  min-width: 100px;
}

.navigation-list li:first-child,
.navigation-list li:nth-child(2) {
  text-align: left;
}

.navigation-list li:last-child,
.navigation-list li:nth-last-child(2) {
  text-align: right;
}

.logo-up {
  position: absolute;
  width: 138px;
  height: 70px;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.main-billboard {
  display: flex;
  position: relative;
  height: 509px;
  background-color: #81b3d2;
  background-image: url(../img/main-banner.jpg);
  margin-bottom: 63px;
}

.main-billboard:after {
  position: absolute;
  content: "";
  background-image: url("../img/origami.png");
  width: 1200px;
  height: 57px;
  z-index: 1;
  top: 452px;
  left: 0;
}

.group-inscriptions {
  margin: auto;
  margin-top: 76px;
}

.reasons-title {
  margin-bottom: 54px;
  padding: 0;
}

.reasons-title h2, p {
  margin: auto;
}

.reasons-title h2 {
  margin-bottom: 35px;
}

ol li:first-child {
  order: -2
}

.reasons h2 {
  width: 450px;
}

.reasons h3 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.reasons-list {
  background-color: #eeeeee;
}

.reasons-item-banner p {
  width: 310px;
}

.reasons-item p {
  width: 280px;
}

.reasons-list li {
  height: 256px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.reasons-item-banner {
  display: flex;
  color: #ffffff;
  margin-bottom: 36px;
}

.reasons-item-banner.reverse {
  flex-direction: row-reverse;
  margin: 0;
  margin-top: 36px;
}

.reasons-item h3 {
  width: 160px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 23px;
}

.reasons-text {
  flex-grow: 1;
  width: 400px;
  background-color: #81b3d2;
}

.reasons-text h3 {
  width: 180px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 23px;
}

.reasons-img {
  flex-grow: 2;
  background-size: 800px 256px;
  background-color: #c4c4c4;
}

.recommendation {
  order: -1;
}

.recommendation-list {
  margin: 0;
  padding: 0;
  height: 330px;
  display: flex;
  justify-content: space-between;
}

.recommendation-list p {
  width: 290px;
}

.reasons-item,
.recommendation-item {
  width: 400px;
}

.recommendation-item h3 {
  margin: 23px 0;
}

.invitation {
  position: relative;
}

.invitation-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  min-height: 290px;
}

.invitation-header h2 {
  margin: 0;
  margin-top: 55px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

.invitation-header p {
  width: 440px;
  align-self: center;
  line-height: 24px;
}

a.button-invitation {
  align-self: center;
  width: 570px;
  height: 85px;
  background-color: #766357;
  font-size: 21px;
  margin-top: 20px;
  vertical-align: middle;
  line-height: 85px;
}

/*==Модальное окно==*/

.invitation-modal {
  position: absolute;
  top: 290px;
  left: 50%;
  margin-left: -285px;
  width: 570px;
  height: 395px;
  background: #ffffff;
  color: #000000;
}

.invitation-form {
  margin: 0;
  padding: 0;
  margin: 55px;
  display: flex;
  flex-direction: column;
  width: 458px;
  min-height: 295px;
  font-weight: 700;
}

.form-date {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
  font-size: 0;
  font-weight: 700;
  text-align: left;
}

.invitation-form .form-label {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 115px;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
}

.form-input-date {
  width: 343px;
  padding-right: 38px;
}

.form-input {
  box-sizing: border-box;
  padding: 8px;
  border: 2px solid #f2f2f2;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: #f2f2f2;
}

.form-input:hover {
  border-color: #ebebeb;
  background: #ebebeb;
}

.form-input:focus {
  border-color: #e5e5e5;
  background: #fff;
}

.icon-calendar {
  position: absolute;
  right: 9px;
  top: 8px;
  color: rgba(0, 0, 0, 0.302);
}

.icon-calendar-svg,
.icon-sorting-svg {
  fill: currentcolor;
}

.icon-calendar:hover {
  color: rgb(0, 0, 0);
}

.icon-calendar:active {
  color: rgb(129, 179, 210);
}

.icon-count,
.form-input-counter {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  text-align: center;
  /*outline: none;*/
}

.icon-plus {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 2px;
}

.icon-minus {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 2px;
}

.icon-count:hover {
  color: rgb(0, 0, 0);
}

.icon-count:active {
  color: rgb(129, 179, 210);
}

.counter {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.counter button {
  vertical-align: top;
  border: none;
  color: #a9a9a9;
  background: #f2f2f2;
}

.counter .form-label[for='counter-children'] {
  width: 65px;
  margin-left: 50px;
}

.invitation-form .button-find {
  width: 458px;
  height: 58px;
  margin-top: 24px;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
}

/*==END Модальное окно==*/

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover {
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted #81b3d2;
}

.filters-sort-link:active {
  color: rgb(0, 0, 0);
  border-bottom: none;
}

.sort-link-active {
  color: rgb(129, 179, 210);
  border-bottom: none;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-name:hover {
  color: rgb(129, 179, 210);
}

.hotels-name:active {
  color: rgba(0, 0, 0, 0.302);
}

.housing:before,
.food:before,
.gifts:before {
  content: "";
  display: block;
  position: relative;
  left: 165px;
  width: 76px;
  height: 76px;
  margin-bottom: 26px;
}

.housing:before {
  background: url("../img/housing-icon.svg") no-repeat;
}

.food:before {
  background: url("../img/food-icon.svg") no-repeat;
}

.gifts:before {
  background: url("../img/gift-icon.svg") no-repeat;
}

.number {
  display: block;
  margin-bottom: 17px;
}

.number::before {
  content: "";
  display: block;
  position: relative;
  top: 12px;
  left: 174px;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.number::after {
  content: "";
  display: block;
  position: relative;
  top: -11px;
  left: 217px;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.numbers {
  display: block;
  margin-bottom: 18px;
}

.numbers::before {
  content: "";
  display: block;
  position: relative;
  top: 12px;
  left: 174px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.numbers::after {
  content: "";
  display: block;
  position: relative;
  top: -11px;
  left: 217px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

/*==Списки инфраструктура и тип жилья==*/

.filters-hotels-wrapper {
  display: flex;
  margin-top: 0;
  min-height: 217px;
  background-color: #81b3d2;
  background-image: url("../img/hotels-banner.jpg");
  width: 100%;
  color: #ffffff;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filters-hotels-infrastructure {
  display: block;
  width: 150px;
  margin-top: 32px;
  margin-left: 73px;
  padding: 0;
  text-align: left;
}

.filters-hotels-housing {
  display: block;
  width: 150px;
  margin-top: 32px;
  margin-left: 105px;
  padding: 0;
  text-align: left;
}

.filters-hotels-range {
  width: 320px;
  margin-top: 28px;
  margin-left: 325px;
}

.filters-hotels legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option {
  margin-bottom: 22px;
}

.filter-option:first-child {
  margin-top: 25px;
}

.form-label {
  position: relative;
  padding-left: 30px;
}

.checkbox-checking:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

input[type="checkbox"]:checked + .form-label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 6px;
  height: 8px;
  width: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  z-index: 2;
}

input[type="checkbox"]:checked + .form-label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 7px;
  height: 3px;
  width: 20px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  box-shadow: 0 0 1px 1px rgba(99, 143, 178, 1.0);
  z-index: 1;
}

input[type="checkbox"]:focus + .form-label {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(129, 179, 210, 0.8);
}

.sort-list {
  display: flex;
}

.filters-result {
  display: flex;
  min-height: 86px;
  position: relative;
}

.sorting {
  position: absolute;
  width: 11px;
  height: 10px;
  font-size: 0;
}

.sort-up {
  top: 39px;
  left: 1092px;
}

.sort-down {
  top: 39px;
  left: 1114px;
}

.icon-sorting-svg {
  color: rgba(0, 0, 0, 0.302);
}

.icon-sorting-svg:hover {
  color: rgb(0, 0, 0);
}

.icon-sorting-svg:active {
=======
}

.sort-down {
  top: 39px;
  left: 1114px;
}

.icon-sorting-svg {
  color: rgba(0, 0, 0, 0.302);
}

.icon-sorting-svg:hover {
  color: rgb(0, 0, 0);
}

.icon-sorting-svg:active {
  color: rgb(129, 179, 210);
}

.icon-sorting-svg:focus {
  outline: none;
  box-shadow: none;
>>>>>>> parent of 9564f7e... Закончена проверка CSS. Исправлены мелочи
  color: rgb(129, 179, 210);
}

.result-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.result-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 150px;
  font-weight: normal;
  border-bottom: 1px solid #e5e5e5;
}

.result-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.result-item img {
  order: -1;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 73px;
}

.result-wrapper {
  width: 270px;
  margin-left: 30px;
  text-align: left;
}

.result-wrapper h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.result-item p {
  margin-bottom: 13px;
}

.wrapper-buttons {
  display: flex;
  margin: 0;
  padding: 0;
  width: 258px;
  justify-content: space-between;
}

.button {
  display: inline-block;
  border: 0;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

*:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(129, 179, 210, 0.8);
}

.button-detailed {
  outline: none;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-reservation {
  width: 140px;
  height: 27px;
  background-color: #766357;
  font-family: "PT Sans", Arial sans-serif;
}

.button-reservation:hover,
.button-invitation:hover {
  background-color: #604e43;
}

.button-reservation:active,
.button-invitation:active {
  color: #928a85;
  background-color: #503e33;
}

.button-invitation {
  align-self: center;
  width: 570px;
  height: 85px;
  background-color: #766357;
  font-size: 21px;
  margin-top: 20px;
  vertical-align: middle;
  line-height: 85px;
}

.button-invitation:focus {
  outline: none;
  color: #928a85;
  background-color: #503e33;
  box-shadow: 0 0 2px 2px rgba(101, 88, 71, 0.98);
}

.button-detailed:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(129, 179, 210, 0.5);
}

.button-detailed:focus,
.button-reservation:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(129, 179, 210, 0.8);
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 73px;
}

.rating img {
  margin: 0;
  width: 18px;
  height: 17px;
}

.rating-stars {
  align-self: flex-end;
}

.rating-volume {
  width: 110px;
  height: 27px;
  padding-top: 5px;
  background-color: #f2f2f2;
}

.found {
  margin-left: 73px;
  margin-top: 30px;
}

.sort {
  margin-left: 50px;
  margin-top: 30px;
}

.sort-list {
  padding-left: 38px;
  margin-top: 30px;
}

.sort-list li {
  margin-right: 30px;
}

/*==END Списки==*/

/*==Стоимость в сутки==*/

.filters-hotels-range {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 318px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: 73px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  min-height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  height: 45px; /*для верного отображения в IE*/
  padding-left: 48px;
  padding-top: 6px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0; /*для верного отображения в IE*/
  padding-bottom: 7px; /*для верного отображения в IE*/
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  top: -11px;
  width: 5px;
  height: 5px;
  background: #ababab;
  border: 10px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.button-transparent:focus {
  outline: none;
  color: #000000;
  background: #ffffff;
}

/*==END Стоимость в сутки==*/

/*.map {
  background-image: url("../img/map.jpg");
}*/

/*==Футер==*/

iframe {
  border: 0px;
}

.main-footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  height: 120px; /*для центрирования в IE по вертикали*/
}

.footer-social,
.footer-logo,
.footer-copyright {
  width: 33%;
}

.footer-logo {
  padding-bottom: 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: center;
}

.footer-social {
  display: flex;
  padding: 0;
  padding-bottom: 10px;
  justify-content: center;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.button-social:hover,
.button-find:hover,
.button-detailed:hover {
  background-color: #669ec0;
}

.button-social:active path,
.button-find:active,
.button-detailed:active {
  fill: #88b6d1;
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-copyright span {
  margin-right: 8px;
  margin-bottom: 7px;
}

.footer-copyright a:hover path {
  fill: rgb(129, 179, 210);
}

.footer-copyright a:active path {
  fill: rgba(0, 0, 0, 0.302);
}