body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  /*todo сделать тень от контейнера*/
  box-shadow: none;
  /*todo none -- временное значение*/
}

.main-billboard {
  position: relative;
  height: 510px;
  background-color: #81b3d2;
  background-image: url(../img/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.navigation {
  min-height: 55px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.navigation-list,
.reasons-list,
.reasons-list,
.footer-social,
.recommendation-list,
.filter-list,
.sort-list,
.result-list {
  list-style: none;
}

.navigation-link,
.navigation-link:visited {
  color: rgb(0, 0, 0);
}

.navigation-link:hover {
  color: rgb(129, 179, 210);
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.navigation-list .navigation-link-active {
  color: rgb(118, 99, 87);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.navigation-link {
  width: 100px;
  height: 25px;
}

.main-billboard {
  display: flex;
}

.group-inscriptions {
  margin: auto;
}

.reasons-title {
  margin-bottom: 60px;
  padding: 0;
}

.reasons-title h2, p {
  margin: auto;
}

.reasons-title h2 {
  margin-bottom: 40px;
}

ol li:first-child {
  order: -2
}

.reasons h2 {
  width: 450px;
}

.reasons h3 {
  /*width: 160px;/*??? При задании принудительной ширины для получения правильных переносов текст сдвигается влево и не желает быть по центру*/
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

.reasons-list p {
  width: 260px;
}

.reasons-list .long-p {
  width: 320px; /*??? Очень не нравится такой класс, но не смог придумать, как перенести строку в нужном месте.*/
}

.reasons-list li {
  height: 260px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.reasons-item-banner {
  display: flex;
  color: #ffffff;
}

.reasons-item-banner.reverse {
  flex-direction: row-reverse;
}

.reasons-text {
  flex-grow: 1;
  width: 400px; /*??? вынужденно задал эту ширину потому, что при задании ширины абзацам ".reasons-list p" почему-то сужался и этот элемент тоже ???*/
  background-color: #81b3d2;
}

.reasons-img {
  flex-grow: 2;
  background-size: 800px 260px; /*??? задал размер "подложки" под картинку, но при проверке, при отключении картинки фон "схлопывается" ???*/
  background-color: #c4c4c4;
}

.recommendation {
  order: -1;
}

.recommendation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.recommendation-list p {
  width: 290px;
}

.recommendation-list li {
  height: 330px; /*??? размер переопределён, но блок "залазит" под следующий, а не отталкивает его ???*/
}

.reasons-item,
.recommendation-item {
  width: 400px;
}

.invitation-header {
  width: 1200px;
  height: 290px;
}

.invitation-header h2 {
  font-size: 30px;
  font-weight: bold;
}

a.button-invitation {
  display: block;
  width: 567px;
  height: 87px;
  background-color: #766357;
  margin: auto;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover {
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:active {
  color: rgb(0, 0, 0);
  border-bottom: none;
}

.sort-link-active {
  color: rgb(129, 179, 210);
  border-bottom: none;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.hotels-name:hover {
  color: rgb(129, 179, 210);
}

.hotels-name:active {
  color: rgba(0, 0, 0, 0.302);
}

.housing:before {
  content: "";
  background: url("../img/housing-icon.svg") no-repeat;
  display: block;
  position: relative;
  top: 0px;
  left: 163px;
  width: 76px;
  height: 76px;
}

.food:before {
  content: "";
  background: url("../img/food-icon.svg") no-repeat;
  display: block;
  position: relative;
  top: 0px;
  left: 160px;
  width: 76px;
  height: 76px;
}

.gifts:before {
  content: "";
  background: url("../img/gift-icon.svg") no-repeat;
  display: block;
  position: relative;
  top: 0px;
  left: 163px;
  width: 76px;
  height: 76px;
}

.number::before {
  content: "";
  display: block;
  position: relative;
  top: 12px;
  left: 181px;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.number::after {
  content: "";
  display: block;
  position: relative;
  top: -11px;
  left: 210px;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.numbers::before {
  content: "";
  display: block;
  position: relative;
  top: 12px;
  left: 181px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.numbers::after {
  content: "";
  display: block;
  position: relative;
  top: -11px;
  left: 210px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.filters-hotels-wrapper {
  display: flex;
  height: 217px;
  background-color: #81b3d2;
  background-image: url("../img/hotels-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

/*todo убрать временные рамки*/
.filters-hotels-infrastructure {
  width: 160px;
  margin-left: 70px;
  border: 1px solid red; /*временная рамка*/
}

.filters-hotels-housing {
  width: 160px;
  margin-left: 95px;
  border: 1px solid red; /*временная рамка*/
}

.filters-hotels-cost {
  width: 330px;
  margin-left: 325px;
  border: 1px solid red; /*временная рамка*/
}

.filters-hotels legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.sort-list {
  display: flex;
}

.filters-result {
  display: flex;
}

.result-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.result-item {
  margin: 0;
  padding: 0;
  display: flex;
  height: 150px;
  flex-wrap: wrap;
  font-weight: normal;
  border: 1px solid red; /*временная рамка*/
  margin-bottom: -1px;  /*временный отступ*/
}

.result-item img {
  order: -1;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 73px;
}

.result-wrapper {
  width: 280px;
  margin-left: 30px;
  text-align: left;
}

.result-wrapper h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.result-item p {
  margin-bottom: 13px;
}

.wrapper-buttons {
  display: flex;
  margin: 0;
  padding: 0;
  width: 258px;
  justify-content: space-between;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.button:focus {
  outline: none
}

.button-detailed {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-reservation {
  width: 140px;
  height: 27px;
  background-color: #766357;
  font-family: "PT Sans", Arial sans-serif;
  text-transform: uppercase;
}

.rating {
  margin-left: auto;
  width: 110px;
  height: 27px;
  margin-top: 88px;
  background-color: #f2f2f2;
}

.found {
  margin-left: 73px;
  margin-top: 30px;
}

.sort {
  margin-left: 50px;
  margin-top: 30px;
}

.sort-list {
  padding-left: 38px;
  margin-top: 30px;
}

.sort-list li{
  margin-right: 30px;
}

.main-footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 180px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 150px;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social:active path {
  fill: #5496bd;
  background-color: #88b6d1;
}

.footer-copyright {
  width: 210px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 45px;
}

.footer-copyright a:hover path {
  fill: rgb(129, 179, 210);
}

.footer-copyright a:active path {
  fill: rgba(0, 0, 0, 0.302);
}








