body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  /*todo сделать тень от контейнера*/
  box-shadow: none;
  /*todo none -- временное значение*/
}

.main-billboard {
  position: relative;
  height: 510px;
  background-color: #81b3d2;
  background-image: url(../img/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.navigation {
  min-height: 55px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.navigation-list,
.reasons-list,
.reasons-list,
.footer-social,
.recommendation-list,
.filter-list,
.sort-list,
.result-list {
  list-style: none;
}

.navigation-link,
.navigation-link:visited {
  color: rgb(0, 0, 0);
}

.navigation-link:hover {
  color: rgb(129, 179, 210);
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.navigation-list .navigation-link-active {
  color: rgb(118, 99, 87);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.navigation-link {
  width: 100px;
  height: 25px;
}

.main-billboard {
  display: flex;
}

.group-inscriptions {
  margin: auto;
}

.center-wrapper {
  margin-bottom: 60px;
  padding: 0;
}

.center-wrapper h2, p {
  margin: auto;
}

.center-wrapper h2 {
  margin-bottom: 40px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.reasons-list li {
  height: 260px;
}

ol li:first-child {
  order: -2
}

.recommendation {
  order: -1;
}

.reasons-item-banner {
  display: flex;
  color: #ffffff;
}

.reasons-text {
  flex-grow: 1;
  background-color: #81b3d2;
}

.reasons-img {
  flex-grow: 2;
}

.recommendation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.recommendation-list li {
  height: 330px; /*??? размер переопределён, но блок "залазит" под следующий, а не отталкивает его ???*/

}

/*


ul.recommendation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 330px;
}
*/





.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover {
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:active {
  color: rgb(0, 0, 0);
  border-bottom: none;
}

.sort-link-active {
  color: rgb(129, 179, 210);
  border-bottom: none;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.hotels-name:hover {
  color: rgb(129, 179, 210);
}

.hotels-name:active {
  color: rgba(0, 0, 0, 0.302);
}

/*Пока не понимаю как задать нужные цвета иконке
.logo-academy {
  background: rgb(0, 0, 0);
}

.logo-academy:hover {
  background: rgb(129, 179, 210);
}

.logo-academy:active {
  background: rgba(0, 0, 0, 0.302);
}
*/













